.region {
  background-color: #f1f2df;
  font-family: 'Permanent Marker', Helvetica, sans-serif;
  border: 0.4em solid rgb(28, 25, 25);


  padding: 0.5em 0;
  margin: 1rem;

  min-height: 1em;
  min-width: 4em;
  flex-basis: 18%;

  border-radius: 2em;

  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
}

.region {
  grid-column-start: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: center;
  font-weight: 100;
  overflow: hidden;
}

.region_name {
  font-weight: bold;
  font-size: 1.5rem;
}

.region_weather {
  font-weight: 500;
  font-size: 1.4rem;
}

.region_other {
  font-weight: 400;
}
