.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #0f1011;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 100%;
  height: auto;
}

button {
  background-color: #0f1011;
  /* border: white; */
  color: white;
  padding: 0.5em 1em ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input {
  padding: 0.5em 1em;
  margin: 0.5em 0.1em;
  font-family: 'Permanent Marker', Helvetica, sans-serif;
  border: 0.35em solid rgb(28, 25, 25);
}

ul {
  list-style-type: none;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: #0f1011;
  margin-bottom: 20px;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}